# editor
.idea

# python
.pytest_cache
__pycache__
.pyc

# python distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Python installer logs
pip-log.txt
pip-delete-this-directory.txt

# coverage
coverage.xml
.coverage

# virtualenv
.venv
venv/
ENV/

# mypy
.mypy_cache/

# project related
requirements-tmp.txt
exported-qrcode-file.png

# doc
docs/_build
